# Misc
include LICENCE
include README.rst

# Aux libs includes
recursive-include easytextract/csg_fileutil_libs *.*
recursive-include easytextract/csg_fileutil_libs *.properties
graft easytextract/csg_fileutil_libs/langdetect/profiles

# Excludes
recursive-exclude easytextract/csg_fileutil_libs *.pyc
recursive-exclude easytextract/csg_fileutil_libs *.pyd

# PyInstaller builder
include easytextract_pyinstaller.spec

# Documentation
#graft doc
